# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite

# Model files
*.h5
*.pkl
*.joblib
*.pt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Build
build/
dist/
*.egg-info/